/*# font-family:'Fjalla One', sans-serif;
# font-family: 'Raleway', sans-serif;
# font-family: 'Bitter', serif;
# font-family: 'Play', sans-serif;
#
# color: #0A2C38;
# color: #AD2141;
# color: #0688B7;*/

html { font-size: 1.5em; }

h1{
  font-family: 'Fjalla One', sans-serif;
  color: #AD2141;
}

h2, h3{
  font-family: 'Fjalla One', sans-serif;
  color: #0688B7;
}

.hiddenElem { display:none; }

body {
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  text-align: center;
  background-image: url("../images/tree.jpeg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 100%;
}
p{
  color:white;
  text-shadow: 0px 1px black;
  background-color: rgba(0, 0, 0, 0.25);
}

nav {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

nav ul{
  list-style-type: none;
  padding-left: 0px;
}

nav ul li {
  font-family: 'Play', sans-serif;
  padding-top: .25em;
  padding-bottom: .25em;
}

nav a:link {
  color: #ffffff;
  text-decoration: none;
  background-color:#000000;
  border-radius: .1em;
  padding: .1em;
  font-size: 1.25em;
}

nav a:hover, nav a:active, #links a:hover, #links a:active { color: #0688B7; }

nav a:visited {
  color: #0A2C38;
  background-color: white;
}

iframe {
  margin-right: auto;
  margin-left: auto;
  width:100%;
}

article {
  text-align: justify;
  width: 100%;
}

#flex{ width: 100%; }

#flex td {
  display: flex;
  flex-direction:row;
  width: 100%;
}

#flex article table td{
  text-align: center;
}
/*#flex table {
  border: 3px dotted white;
  width: 100%;
}*/

#poster, #sub {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Bitter', serif;
}

footer{
}
footer table {
  width: 100%;
}
footer td {
  display: flex;
  flex-direction: column;
  padding-left: .5em;
  padding-right: .5em;
}
footer ul {
  padding-left: 0px;
  list-style-type: none;
}

#copyright {
  text-align: center;
  font-family: 'Play', sans-serif ;
}
#links {
  text-align: center;
  font-family: 'Play', sans-serif;
}

#links a:visited {
  color: green;
}
#links img {

  border-radius: 3px;
}
  #centerpiece {
    -webkit-flex:auto;
    flex: auto;
    -webkit-flex-direction:column;
    flex-direction:column;
    width: 100%;
  }

  #tw {
  background-color: white !important;
  border-radius: 3px;
}

#bio{
  color: black;
/*  text-shadow: 1px 1px white;*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.needbck td{
  color:white;
  text-shadow: 0px 1px black;
  background-color: rgba(0, 0, 0, 0.25);
}
 em {
  color:#0A2C38;
 }
/******************************************************************************
******************************************************************************/

@media only screen and (min-width: 500px) {

  nav ul li {
  display: inline;
  font-family: 'Play', sans-serif;
  }

  nav {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  nav ul{
    list-style-type: none;
  }
  nav ul li {
    display: inline;
    font-family: 'Play', sans-serif;
  }

  nav a:link {
    color: #AD2141;
    text-decoration: none;
  }

  nav a:hover, nav a:active{
    color: #0688B7;
  }

  nav a:visited {
    color: #0A2C38;
  }

  #poster, #sub {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
    font-family: 'Bitter', serif;
  }

  iframe {
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
  }

  .subpost {
    width: 250px;
  }

  #sub article {
    padding-left: 1em;
    padding-right: 1em;
  }

  footer table {
    width: 100%;
  }

  footer td {
    display: table-cell;
    flex-direction:initial;
    padding-left: .5em;
    padding-right: .5em;
  }

  footer ul {
    padding-left: 0px;
  }

  footer ul li {
    display: inline;
  }

  #copyright {
    text-align: left;
    font-family: 'Play', sans-serif ;
  }

  #links {
    text-align: left;
    font-family: 'Play', sans-serif;
  }
  #links a:link {
    color:#0A2C38;
  }

  #centerpiece {
    width: 100%;
  }

}
